#desarrollo_social_imprimir{
	text-align:center;
	border:1px solid;
	padding:5px;
	height:390px;
}
.desarrollo_social_imprimir_botones{
	text-align:center;
	padding:5px 0;
}
.desarrollo_social_imprimir_datos{
	text-align:right;
}
.desarrollo_social_imprimir_label{
	width:85%;
	float:left;
	font-weight:bold;
}
.desarrollo_social_imprimir_tabla{
	text-align:left;
	width:100%;
	margin:5px 0;
}
.desarrollo_social_imprimir_tabla_derecha{
	text-align:right;
}
.desarrollo_social_imprimir_tabla_titulos{
	font-weight:bold;
}
.desarrollo_social_imprimir_titulo{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	margin:5px 0;
}
.desarrollo_social_imprimir_value{
	width:15%;
	float:right;
}
@media print {
	body{
		line-height: 14px;
	}
	footer{
		display:none !important;
	}
	.ln_solid{
		display:none !important;
	}
	.x_title{
		display:none !important;
	}
	#desarrollo_social_imprimir{
		font-size:11px;
	}
	.cabecera_logo_avisos{
		text-align:center;
		border-top:1px solid;
		border-right:1px solid;
		border-left:1px solid;
		padding:0px;
	}
	.top_nav{
		display:none !important;
	}
}