@charset "utf-8";
/* CSS Document */

/* fichadas_ver.php */
.img-fichadas {
	width: 100%;
	margin:0;
	text-align:center;
}
.content-fichadas {
	margin:0 auto 20px auto;
	text-align:center;
	max-width:600px;
}
.content-fichadas p {
	font-size:20px;
}
.table-fichadas {
	margin-bottom:0px;
}
.table-fichadas > tbody > tr > td, 
.table-fichadas > tbody > tr > th, 
.table-fichadas > tfoot > tr > td, 
.table-fichadas > tfoot > tr > th, 
.table-fichadas > thead > tr > td, 
.table-fichadas > thead > tr > th {
	padding:1px 4px;
	text-align:center;
}
.table-fichadas .division {
	border-bottom:2px solid;
}
.btn-fichadas {
	text-align:center;
	margin-bottom:20px;
}
@media (max-width: 768px) {
	.content-fichadas {
		font-size:11px;
	}
	.content-fichadas p {
		font-size:18px;
	}
	.table-fichadas > tbody > tr > td, 
	.table-fichadas > tbody > tr > th, 
	.table-fichadas > tfoot > tr > td, 
	.table-fichadas > tfoot > tr > th, 
	.table-fichadas > thead > tr > td, 
	.table-fichadas > thead > tr > th {
		padding:1px 1px;
		text-align:center;
	}
}
@media print
{
	body > .container {
		padding:0;
	}
	button {
		display:none !important;
	}
	.content-fichadas {
		margin:0 auto;
	}
	.page-header,
	.page-title,
	footer {
		display:none;
	}
	.main_container .top_nav {
		display: none !important;	
	}
	.right_col {
		min-height: 100px !important;
		padding: 5px 10px 0 !important;
	}
	.table-fichadas {
		font-size: 12px;
	}
	.table-fichadas > tbody > tr > td, 
	.table-fichadas > tbody > tr > th, 
	.table-fichadas > tfoot > tr > td, 
	.table-fichadas > tfoot > tr > th, 
	.table-fichadas > thead > tr > td, 
	.table-fichadas > thead > tr > th {
		padding:0px;
	}
	p {
		margin:0;
	}
	.btn-fichadas {
		display:none !important;
	}
	#selector-mes{
		height:26px;
		padding:2px 4px;
	}
}